[Unit]
Description=Apache HDFS Datanode
Wants=network-online.target
After=network-online.target

[Service]
User=hadoop
Group=hadoop
Type=forking
RuntimeDirectory=hadoop

WorkingDirectory=/home/hadoop/bundle/sbin
ExecStart=/home/hadoop/bundle/sbin/hadoop-daemon.sh start datanode
ExecStop=/home/hadoop/bundle/sbin/hadoop-daemon.sh stop datanode

[Install]
WantedBy=multi-user.target